Repository getlocalci/circle-advanced-setup-workflow: changes, and which CircleCI parameters are due for each by the changed paths.
All: php-modified, js-modified, e2e-modified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Create Dynamic Jobs
          base-revision: main
          mapping: |
            php/.* php-modified true
            js/.* js-modified true
            e2e/.* e2e-modified true
          config-path: .circleci/workflows.yml

Fix the php-build job format
  .circleci/workflows.yml
Due: none

Move the when value
  .circleci/config.yml
  .circleci/workflows.yml
  php/.circleci/config.yml
Due: php-modified

Move the config.yml files from directories like php/ to workflows.yml
  .circleci/workflows.yml
  e2e/.circleci/config.yml
  js/.circleci/config.yml
  php/.circleci/config.yml
Due: php-modified, js-modified, e2e-modified

Trivial change to see if the Jest test runs
  js/src/multiply.test.js
Due: js-modified

Add the /src directory to the mapping
  .circleci/config.yml
Due: none

Remove the default arugment for base-revision
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

See if a different pattern works
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

Trivial php edit to trigger php workflow
  php/test/ExampleTest.php
Due: php-modified

Add back in operators to the mapping
  .circleci/config.yml
Due: none

Revert change to PHP file to see if that means the php job won't run
  php/test/ExampleTest.php
Due: php-modified

Remove capitalization of remaining words in name
  .circleci/config.yml
Due: none

Update the README.md file for latest changes
  README.md
Due: none

Clarify that the diff is in the PR
  README.md
Due: none

Add more to README.md, explaining how the parameters work
  README.md
Due: none

Remove config splitting, as there are only 2 configs now
  README.md
Due: none

See if adding links to files and directories works
  README.md
Due: none

Remove 'The main change', add a link to CircleCI
  README.md
Due: none

Move the CircleCI link to the top
  README.md
Due: none

Phrase the differences better
  README.md
Due: none

Add another example for JS files
  README.md
Due: none

Add a subheading describing the main benefit
  README.md
Due: none

Add an example of pipeline parameters
  README.md
Due: none

Remove 'the' before README.md
  README.md
Due: none

Remove the config-path, and use the default
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Change the order of multiplication in PHP file
  php/src/Example.php
Due: php-modified

Change the order back, rename the parameters
  php/src/Example.php
Due: php-modified

Slight change to README.md heading
  README.md
  php/src/Example.php
Due: php-modified

Change the README.md heading
  README.md
Due: none

Add a link to the post about setup
  README.md
Due: none

Change the link text, describing what it is
  README.md
Due: none

Add a .vscode/ ile with a recommendation for Local CI
  .vscode/extensions.json
Due: none

Change heading to 'Dynamic Configuration'
  README.md
Due: none

Add example npm packages/ directory
  .circleci/config.yml
  .circleci/continue_config.yml
  packages/bar/package.json
  packages/baz/package.json
  packages/foo/package.json
Due: none

Fix the or conditional
  .circleci/continue_config.yml
Due: none

Trivial edit to trigger JS build
  packages/bar/package.json
Due: none

Add an * after the directory
  .circleci/config.yml
Due: none

Another trivial change to trigger JS build
  packages/bar/package.json
Due: none

Correct the parameter names
  .circleci/config.yml
Due: none

Trivial change to trigger JavaScript build
  packages/foo/package.json
Due: none

Make the test commands in the packages actually work
  .circleci/continue_config.yml
  packages/bar/package.json
  packages/baz/package.json
  packages/foo/package.json
Due: none
